.secondPageStart{
    margin-top: 10%;
    height: 250px;
    margin-right: 60%;
    margin-left: 10%;
    align-items: center;
    justify-content: center;
                 
    border: solid 5px;
}
.secondPageStart .startdate{
    padding-bottom: 20px;
    margin-left: 130px;
    margin-top: 30px;
}

.secondPageStart h2{
    margin-left: 160px;
}

.secondPageStart .location{
    margin-top:20px;
    
}

.secondPageStart .tournament{
    margin-top:20px;
    width: 200px;
}

.secondPageEnd{
    margin-top: -11%;
    height: auto;
    margin-right: 10%;
    margin-left: 60%;
    align-items: center;
    justify-content: center;
                 
    border: solid 5px;
}
.secondPageEnd .enddate{
    padding-bottom: 20px;
    margin-left: 130px;
    margin-top: 30px;
}

.secondPageEnd h2{
    margin-left: 160px;
}


.secondPageEnd .enddate .comment {
    height: 50px;
    margin-top: 20px;
}

.btn-primary{
    margin-top: 40px;
    margin-left: 50%;
}

.btn-danger{
    margin-top: -65px;
    margin-left: 45%;
}